.advantages {
  padding: 20px 60px;
  text-align: center;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;


  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    // row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}