.advantages {
  padding: 50px 0 30px;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-top: 0;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 96px;
  }
}

.advantages__title {
  margin-bottom: 5px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding-inline-start: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  position: relative;
  padding-top: 85px;

  &--speed::before {
    position: absolute;
    content: " ";
    width: 52px;
    height: 56px;
    background-image: url("../../img/speed.svg");
    background-repeat: no-repeat;
    top: 20px; 
    left: 42%;
  }

  &--fit::before {
    position: absolute;
    content: " ";
    width: 52px;
    height: 56px;
    background-image: url("../../img/fit.svg");
    background-repeat: no-repeat;
    top: 20px; 
    left: 41%;
  }

  &--energy::before {
    position: absolute;
    content: " ";
    width: 52px;
    height: 56px;
    background-image: url("../../img/energy.svg");
    background-repeat: no-repeat;
    top: 20px; 
    left: 41%;
  }

  &--ecology::before {
    position: absolute;
    content: " ";
    width: 52px;
    height: 56px;
    background-image: url("../../img/ecology.svg");
    background-repeat: no-repeat;
    top: 15px; 
    left: 41%;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-top: 48px;
    padding-left: 80px;
    text-align: start;

    &--speed::before {
      top: 55px; 
      left: 10px;
    }
  
    &--fit::before {
      top: 45px; 
      left: 10px;
    }
  
    &--energy::before {
      top: 45px; 
      left: 15px;
    }
  
    &--ecology::before {
      top: 55px; 
      left: 10px;
    }
  }
}

.advantages__item-heading {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;


  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.advantages__item-text {
  margin: 0;

  @media (max-width: @mobile-width-only) {
    margin-top: 5px;
    margin-bottom: 13px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
