.catalog {
  background-color: #F8F8F8;
}

.catalog__list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

.catalog__wrap {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.catalog__title, .catalog__heading {
  text-align: center;
}

.catalog-sort {
  @media (min-width: @desktop-width) {
    text-align: end;
  }
}