.contacts {
  padding-bottom: 20px;
  
  @media (min-width: @tablet-width) {
    max-width: 317px;
  }
}

.contacts__address {
  position: relative;
  padding-left: 20px;
  font-style: normal;
  margin-top: 19px;
  margin-bottom: 16px;


  &::before {
    position: absolute;
    content: " ";
    width: 13px;
    height: 16px;
    background-image: url("../../img/address.svg");
    left: 0;
    top: 1px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    max-width: 180px;
  }

  @media (min-width: @desktop-width) {
   
  }
}

.contacts__icon {
  position: relative;
  padding-left: 20px;
  color: inherit;

  &--phone::before {
    position: absolute;
    content: " ";
    width: 13px;
    height: 16px;
    background-image: url("../../img/phone.svg");
    left: 0;
    top: 1px;
  }

  &--address::before {
    position: absolute;
    content: " ";
    width: 13px;
    height: 16px;
    background-image: url("../../img/address.svg");
    left: 0;
    top: 2px;
  }
}
