.copyright {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-size: 12px;
  color: #BDBDBD;
  font-weight: 400;
  padding-right: 4px;
}

.copyright__link {
  display: flex;
  align-items: center;

  & svg {
    fill: #BDBDBD;
  }

  &:hover .copyright__text {
    color: #7859CF;
  }

  &:focus .copyright__text,
  &:active .copyright__text {
    color: #593CAC;
    outline: none;
  }

  &:hover svg {
    fill: #7859CF;
  }

  &:focus svg,
  &:active svg {
    fill: #593CAC;
    outline: none;
  }
}