.country-form__item {
  margin-bottom: 20px;
}

.country-form {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 10px;
  }
}

.country-form__field {
  display: flex;
}

.country-form__field-label {
  padding-left: 10px;
  font-size: 16px;
}

.country-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}

.country-form__control:hover + .input-checkbox {
  outline: solid 2px #9070ec;
  background-color: #7859cf40;
}

.country-form__control:focus-within + .input-checkbox {
  outline: solid 2px #9070ec;
  background-color: #7859cf40;
}

.country-form__control:disabled + .input-checkbox {
  background-color: #e2e2e2;
}
