.footer {
  @media (min-width: @tablet-width) {
    padding-top: 49px;
    padding-bottom: 40px;
  }
}

.footer__social {
  grid-area: social;
}

.footer__e-shop {
  grid-area: e-shop;
}

.footer__media {
  grid-area: media;
}

.footer__contacts {
  grid-area: contacts;
}

.footer__wrap {
  display: grid;
  grid-template-areas: 
  "social"
  "e-shop"
  "media"
  "contacts"
}

.footer__wrap {
  @media (min-width: @tablet-width) {
    grid-template-areas: 
    "social social social"
    "e-shop media contacts";
  }

  @media (min-width: @desktop-width) {
    grid-template-areas: 
    "social e-shop media contacts";
  }
}

.footer__text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}