.input-radio {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: solid 2px #BDBDBD;
  position: relative;

  @media (max-width: @mobile-width-only) {
    width: 24px;
    height: 24px;
  }
}

.input-checkbox {
  display: inline-block;
  background-color: #BDBDBD;
  width: 42px;
  height: 24px;
  border-radius: 12px;
  position: relative;
}

.input[type="checkbox"]:checked + .input-checkbox {
  background-color: #7859CF;
}

.input-radio:hover + .input-radio::before {
  background-color: tomato;
}

.input[type="radio"]:checked + .input-radio {
  border-color: #7859CF;
}


.input[type="radio"]:checked + .input-radio::before {
  position: absolute;
  background-color: #7859CF;
  border-radius: 50%;
  content: "";
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
}


.input[type="checkbox"]:checked + .input-checkbox::before {
  position: absolute;
  background-color: #FFF;
  border-radius: 50%;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 20px;
}

.input[type="checkbox"] + .input-checkbox::before {
  position: absolute;
  background-color: #FFF;
  border-radius: 50%;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}
