.main-header {
  display: flex;
  padding: 10px 0;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.main-header__logo-wrapper {
  display: flex;
  margin-right: 100px;
}

.main-header__text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    max-width: 146px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 20px;
  }
}

.main-header__profile-user {
  padding: 22px;
}

.main-header__profile-basket {
  padding: 22px;
}