.main-header {
  display: flex;
  padding: 10px 15px;
  align-items: center;

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.main-header__logo-wrapper {
  display: flex;
  margin-right: 100px;
}

.main-header__text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    max-width: 146px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 20px;
  }
}