.pagination__list {
  margin-bottom: 0;
  display: flex;
  padding-top: 40px;
  padding-bottom: 44px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: end;
  }
}

.pagination__item {
  width: 40px;
  height: 40px;
  padding: 8px;
  text-align: center;
  background-color: #FFF;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &--big {
    @media (min-width: @tablet-width) {
      width: 91px;
    }
  }
}

.pagination__link {
  color: #7859CF;
  font-size: 16px;
}

.pagination-current {
  color: #333333;
  font-weight: 600;
}

.pagination__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
    background-color: #FFF;
    color: #7859CF;
  }
}