.site-list {
  margin-top: 13px;
}

.site-list__item {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  position: relative;

  &::before {
    @media (max-width: @mobile-width-only) {
      position: absolute;
      content: "";
      width: 1000%;
      height: 1px;
      background-color: #F0EBFF;
      top: 0;
      margin-left: -500px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 32px 20px;
  }
}