.swiper-button-next {
  position: absolute;
}

.swiper-button-next:after, .swiper-button-prev:after {
  width: 15px;
  height: 10px;
  color: #7859CF;
  font-size: 20px;
}


.swiper-pagination-bullet {
  display: none;

  @media (min-width: @desktop-width) {
  display: inline-block;
  width: 62px;
  height: 4px;
  background-color: #FFF;
  opacity: 1;
  margin-right: 10px;
  border-radius: 4px;

  &:hover {
    background-color: #7859CF40;
  }
  }
}

.swiper-pagination-bullet-active {
  color: #fff;
  background-color: #7859CF;
} 