/* здесь используется !important, 
чтобы мой стиль был приоритетнее чем встроенные стили из swiperjs */

.swiper-button-next:after, .swiper-button-prev:after {
  width: 15px;
  height: 10px;
  color: #7859CF;
  font-size: 20px !important;
}

/* здесь используется селектор по идентификатору, 
чтобы мой стиль был приоритетнее чем встроенные стили из swiperjs */

#swiper__button-slide-next,
#swiper__button-slide-prev {
  width: 40px;
  height: 714px;
  top: -30px;

  &:hover {
    color: tomato;
  }
}

#swiper__button-slide-next {
  right: -10px;

  &:hover {
    color: tomato;
  }
}

#swiper__button-slide-prev {
  left: -10px;
}
